@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-sans), system-ui, -apple-system, sans-serif;
  letter-spacing: -0.03em;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

:root:not([data-layout-grid="visible"]) #layout-grid-overlay {
  display: none;
}
